:root
{
    --bg-color:#151515;
    --font-color1:#ffffff;
    --font-size:1.3vw;
    --bg-color2:#952323;
     --font-size2:1.5vw;
}
.abdalrhman
{
    color: var(--font-color1);
    font-family: font;
    font-size: 4vw ;
    margin-left: 6%;
    margin-top: 35%;
}
.mohamed
{
    color: var(--font-color1);
    font-family: font;
    font-size: 5.4vw ;
    margin-left: 6%;
    z-index: -2;
}
.frame
{
    width: 30%;
    position: absolute;
    margin-top: -2.5%;
    margin-left: 14%;
    z-index: 0;
}
.abd
{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--font-color1);
    font-size: var(--font-size2);
    margin-top: -1.4%;
    margin-left:16.4%;
    position: absolute;
    z-index: 1;
}
.itachi
{
    position: absolute;
    margin-left: 65%;
    margin-top: -4%;
    z-index: -1;
}
.about
{
    font-family: font;
    color: var(--font-color1);
    font-size: 7.5vw;
    margin-left: 66%;
    line-height: 3px;
    margin-top: 3%;
    
}
.me{
    margin-left: 70%;
    position: absolute;
}
.hi 
{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFE100;
    font-size: 2vw;
    margin-left: 6%;
    /* line-height: 2px; */
    margin-top: 2%;
}
.info
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color1);
    margin-left: 6%;
    font-size: 1.8vw;
    
}
.edu{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFE100;
    font-size: 2vw;
    margin-left: 6%;
    /* line-height: 2px; */
    margin-top: 2%;
    float: left;
}
.soft
{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFE100;
    font-size: 2vw;
    margin-left: 6%;
    /* line-height: 2px; */
    margin-top: 2%;
}
.categories
{
    display: flex;
    gap: 180px;
}
.year
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color1);
    font-size: 1.5vw;
    margin-left: 6%;
    margin-top: 2%;
}
.sec
{
    display: flex;
    float: left;
    margin-left: 4%;
    width: 25%;
}
.line
{
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}
.grad
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color1);
    font-size: 1.5vw;
    margin-left: 2%;
    margin-top: 2%;
}
.figma
{
    margin-left: 20%;
    /* float: left; */
    /* margin-top: -8%; */
    display: flex;
    
}
.per1
{
    margin-left: 4%;
    /* width: 80%; */
    margin-top: 5%;
}
.fig
{
    /* width:20%; */
    margin-top: 2%;
    margin-left: 7.6%;
}
.figmaa
{
    color: var(--font-color1);
     font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10%;
    font-size: 1.2vw;
    margin-left: 5%;
}
.photoshop
{
    margin-left: 20%;
    /* float: left; */
    /* margin-top: -8%; */
    display: flex;
}
.pho
{
     margin-top: 2%;
    margin-left: 7.6%;
}
.photo{
    color: var(--font-color1);
     font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10%;
    font-size: 1.2vw;
    margin-left: 5%;
}
.per2
{
margin-left: 4%;
    /* width: 80%; */
    margin-top: 5%;
}
.skill
{
    width: 90%;
    margin-left: 6%;
    margin-top: 2%;
}